{
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"./src/"
				],
				"alias": {
					"components": "./src/components",
					"contexts": "./src/contexts",
					"screens": "./src/screens",
					"assets": "./src/assets",
					"types": "./src/types"
				},
				"extensions": [
					".js",
					".jsx",
					".tsx",
					".ios.js",
					".android.js"
				]
			}
		]
	]
}